* {
  padding: 0;
  margin: 0;
}
.purple {
  background: purple;
}
.phone {
  color: #13A8C2 !important;
}
.padder {
  padding: 30px !important;
}
.no-padder {
  padding: 0;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-t-xxl {
  margin-top: 200px;
}
.text-center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.index-5 {
  z-index: 5;
}
.hero-text {
  font-size: 24px;
  color: #000;
}
.bg {
  position: absolute;
  left: 0;
  bottom: 0px;
  background-image: url("http://tweet-senate.herokuapp.com/assets/senate-f3c5463087d1661a3938f422cfd2200edbf064d77306e1f8665f71e050a0ffcc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 500px;
  z-index: 1;
  opacity: 0.35;
}
.search-box {
  height: ;
  padding: 1rem;
  outline: none;
  margin-top: 50px;
}
.search-result {
  height: 300px;
  min-height: 300px;
  background: #FFFFFF;
  margin-top: 10px;
}
.search-result .item {
  width: 100%;
  height: auto;
  min-height: 60px;
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem;
}
.search-result .item p {
  font-size: 16px;
}
.search-result .item i {
  color: #C3C3C3;
  font-style: normal;
}
.search-box-top {
  width: 600px;
  padding: .6rem;
  outline: none;
}
.navbar-header {
  padding-top: .4rem;
}
.result-card {
  height: auto;
  background: #fff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  border: 0;
  padding-bottom: 50px;
}
.result-card .avatar {
  width: 150px;
  height: 150px;
  margin-left: -80px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  background: #f3f3f3;
  top: -55px;
  left: 50%;
  position: absolute;
  background: #F3F3F3;
}
.result-card .header {
  background: #F3F3F3;
  min-height: 300px;
  position: relative;
  padding-top: 106px;
}
.result-card .header h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  color: #245561;
}
.result-card .header p {
  font-size: 18px;
  font-weight: 300;
  color: #808080;
  padding-top: 14px;
  padding-bottom: 5px;
}
.result-card h3 {
  color: #08272f;
  font-size: 24px;
  font-weight: 400;
}
.result-card h4 {
  font-size: 18px;
  color: #333333;
}
.result-card p {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}
.side-bar {
  height: 200px;
  background: grey;
}
