@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica;
}
body {
  background: #FFF;
}
.none {
  display: none;
}
a {
  color: inherit;
}
.tool-bar {
  height: 100px;
  background: transparent;
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  line-height: 100px;
}
.tool-bar li {
  list-style: none;
  float: right;
  color: grey;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 100px;
  margin-left: 2%;
}
.tool-bar li:hover {
  color: #000;
}
.tool-bar .divider {
  height: 40px;
  width: 1%;
  margin-top: 30px;
}
.hero {
  width: 100%;
  min-height: 500px;
  position: relative;
  text-align: center;
  z-index: 1;
  background-image: linear-gradient(rgba(11, 89, 144, 0.9), rgba(11, 89, 144, 0.9)), url("http://tweet-senate.herokuapp.com/assets/senate-f3c5463087d1661a3938f422cfd2200edbf064d77306e1f8665f71e050a0ffcc.png");
  background-position: center;
}
.hero .header {
  font-size: 56px;
  font-weight: 900;
  color: #FFFFFF;
}
.hero .sub-header {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
}
.search-box {
  height: ;
  padding: 1.5rem;
  outline: none;
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 6px;
  border: 0;
}
.card-md {
  background: #FFFFFF;
  border: 1px solid #e8e8e8;
  height: auto;
  min-height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-md:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s ease-out;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .card-md {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
}
.card-md b {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
}
.card-md h3 {
  text-transform: capitalize;
}
.card-md p {
  text-transform: capitalize;
}
.footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  background: #000;
  color: grey;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.footer img {
  height: 50px;
  margin: 10px;
}
.footer hr {
  border: none;
  border-top: 1px solid #E5E5E4;
  opacity: 0.5;
}
.footer div {
  min-height: 200px;
}
.footer div:nth-of-type(2) {
  text-transform: none;
}
.footer .partners {
  min-height: 100px;
}
.footer .footer-header {
  color: #fff;
  font-weight: 400;
}
.footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}
.footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}
.logo {
  height: 50px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  float: left;
}
.navigation {
  width: 100%;
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}
.search-bar-wrapper {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f3f3f3;
}
.search-bar {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
  /*box-shadow: 0 0 0 1px rgba(0,0,0,0.2);*/
  position: relative;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .search-bar {
    padding: 0;
  }
}
.search-bar input {
  height: inherit;
  border: 1px solid #f5f5f5;
  border-top: 0;
  border-bottom: 2px solid skyblue;
  padding: 15px;
  padding-left: 20px;
}
.search-bar .fa-search {
  position: absolute;
  left: 97%;
  top: 20px;
  z-index: 1;
}
.home-search {
  position: relative;
}
.home-search .fa-search {
  color: grey;
  position: absolute;
  top: 28px;
  right: 8%;
  z-index: 1;
}
.search-num {
  max-height: 68px;
  border-left: 3px solid skyblue;
  position: relative;
  padding: 10px 25px 13px 17px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.search-box-top {
  width: 100%;
  padding: .6rem;
  outline: none;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .search-box-top {
    width: 100%;
  }
}
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.overlay .panel-sm {
  height: auto;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-top: 100px;
  overflow: scroll;
  padding-bottom: 100px;
  position: relative;
}
.panel {
  padding: 0;
}
.panel .avatar {
  width: 120px;
  height: 120px;
  float: left;
  background: url('../img/mm.png');
  background-position: center;
  background-size: contain;
  background-repeat: none;
}
.panel .bio {
  height: auto;
  background: #f5f5f5;
  padding-top: 15px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .panel .bio {
    margin-top: 0;
  }
}
.panel .bio h1 {
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  float: left;
}
.panel .bio span {
  float: left;
  overflow: hidden;
  height: 50px;
}
.overlay-dark {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-dark h1 {
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.overlay-dark .panel {
  height: auto;
  background: #FFFFFF;
  padding: 30px;
}
.overlay-dark .panel label {
  font-size: 12px;
  color: #828181;
}
.overlay-dark .panel button {
  outline: none;
}
#gradient {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.project-desc {
  max-height: 60px;
  overflow: hidden;
  text-transform: capitalize;
}
.truncate {
  height: 20px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}
.not-found {
  color: #000;
}
.not-found h1 {
  padding-bottom: 10px;
}
.not-found img {
  width: 100px;
  height: 100px;
}
.projects-header {
  height: 60px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  line-height: 60px;
  background-image: linear-gradient(rgba(43, 184, 246, 0.8), rgba(43, 184, 246, 0.8)), url("../img/pattern.png");
}
.projects-header h5 {
  line-height: 60px;
  color: #fff;
}
.panel-top:hover {
  background: #f5f5f5;
}
.entity-card:nth-of-type(odd) {
  padding-left: 0 !important;
}
.entity-card .card-md:hover {
  box-shadow: none;
}
.min500 {
  min-height: 500px;
  /*height: auto;*/
}
.share-profile {
  height: 50px;
}
.share-profile .black-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333333;
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding-top: 12px;
  cursor: pointer;
}
.full-bg {
  width: 100%;
  height: calc(100vh - 100px);
  background: #f3f3f3;
  font-family: 'Open Sans', Helvetica !important;
}
.full-bg h1 {
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.full-bg .panel {
  height: auto;
  background: #FFFFFF;
  padding: 30px;
}
.full-bg .panel label {
  font-size: 12px;
  color: #828181;
}
.full-bg .panel button {
  width: 100%;
  height: 40px;
  /*background: #00C973;*/
  /*color: #FFFFFF;*/
  outline: none;
}
.full-bg .panel button[disabled] {
  opacity: 0 !important;
}
.custom {
  outline: none;
  box-shadow: none;
  border: 1px solid #dee5e7;
}
