@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica;
}
body {
  background: #F9F9F9;
}
.hero {
  width: 100%;
  min-height: 400px;
  position: relative;
  text-align: center;
  z-index: 1;
  background-image: linear-gradient(rgba(77, 109, 195, 0.85), rgba(77, 109, 195, 0.85)), url("http://tweet-senate.herokuapp.com/assets/senate-f3c5463087d1661a3938f422cfd2200edbf064d77306e1f8665f71e050a0ffcc.png");
  background-position: center;
}
.hero .header {
  font-size: 56px;
  font-weight: 900;
  color: #FFF;
}
.hero .sub-header {
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
}
.search-box {
  height: ;
  padding: 1.5rem;
  outline: none;
  margin-top: 10px;
  font-size: 2rem;
  border-radius: 6px;
  border: 0;
}
.card-md {
  background: #FFF;
  border: 1px solid #e8e8e8;
  height: 300px;
  padding-top: 15px;
}
.card-md:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s ease-out;
}
.footer {
  height: 100px;
  line-height: 100px;
}
.search-result {
  height: 300px;
  min-height: 300px;
  background: #FFFFFF;
  margin-top: 10px;
}
.search-result .item {
  width: 100%;
  height: auto;
  min-height: 60px;
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem;
}
.search-result .item p {
  font-size: 16px;
}
.search-result .item i {
  color: #C3C3C3;
  font-style: normal;
}
.search-box-top {
  width: 600px;
  padding: .6rem;
  outline: none;
}
.navbar-header {
  padding-top: .4rem;
}
.result-card {
  height: auto;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  border: 0;
  padding-bottom: 50px;
}
.result-card .avatar {
  width: 150px;
  height: 150px;
  margin-left: -80px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  background: #f3f3f3;
  top: -55px;
  left: 50%;
  position: absolute;
  background: #F3F3F3;
}
.result-card .header {
  background: #F3F3F3;
  min-height: 200px;
  position: relative;
  padding-top: 30px;
}
.result-card .header h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  color: #245561;
}
.result-card .header p {
  font-size: 18px;
  font-weight: 300;
  color: #808080;
  padding-top: 14px;
  padding-bottom: 5px;
}
.result-card h3 {
  color: #08272f;
  font-size: 24px;
  font-weight: 400;
}
.result-card h4 {
  font-size: 18px;
  color: #333333;
}
.result-card p {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}
.suggestions {
  height: 600px;
  background: #FFF;
}
.side-bar {
  height: 200px;
  background: grey;
}
